---
import { Image } from 'astro:assets'
import FooterNav from '@/components/FooterNav.astro'
import Logo from '@/components/Logo.astro'
import { Head, Header, Footer, HeadImgLinks, ThemeSwitch } from '@lameuler/ler-astro'
import '@lameuler/ler-astro/icon.css'
import '../font.css'
import light from '@/assets/_light.png'
import dark from '@/assets/_dark.png'

interface Props {
	title: string;
	description?: string;
}

const REPO = import.meta.env.GITHUB_REPOSITORY || 'lameuler/lameuler.github.io'
const SHA = import.meta.env.GITHUB_SHA || (import.meta.env.DEV ? 'dc67a12a747c976c684a5c0067a4b7a38af21fd0' : undefined)
---

<!doctype html>
<html lang="en">
	<Head {...Astro.props} site="ler.quest">
		<HeadImgLinks rel="shortcut icon" href="/icons/favicon{size}.png" sizes={[32,48,96,128,144,192]} type="image/png"/>
		<HeadImgLinks rel="apple-touch-icon" href="/icons/icon{size}.png" sizes={[180,192,512,1024]} type="image/png"/>
		<link rel="canonical" href={(import.meta.env.SITE ?? '') + Astro.url.pathname}/>
	</Head>
	<body class="grid grid-rows-[auto_1fr_auto] min-h-full max-w-7xl mx-auto bg-slate-50 text-slate-950 dark:bg-slate-900 dark:text-slate-50">
		<Header>
			<Logo/>
			<ThemeSwitch scale>
				<Image slot="light" class="w-10 h-10" src={light} width={40} height={40} densities={[1,2,3]} alt="" loading="eager"/>
				<Image slot="dark" class="w-10 h-10" src={dark} width={40} height={40} densities={[1,2,3]} alt="" loading="eager"/>
			</ThemeSwitch>
		</Header>
		<main class="w-full p-4">
			<slot />
		</main>
		<Footer>
			<FooterNav slot="left"/>
			<div slot="left">
                Made with <a href="https://astro.build" class="underline">Astro</a>, <a href="https://svelte.dev" class="underline">Svelte</a> and <a href="https://tailwindcss.com" class="underline">Tailwind</a>.
            </div>
			<div slot="right">
				<a href={`https://github.com/${REPO}`} class="underline">View on GitHub</a>
				{ SHA &&
					<span>-</span> <a class="hover:underline" href={`https://github.com/${REPO}/commit/${SHA}`}><code>{ SHA.substring(0,7) }</code></a>
				}
			</div>
			<a slot="license" href="/license" class="underline">MIT License</a>
		</Footer>
	</body>
</html>
<style is:global>
	html {
		height: 100%;
		min-height: fit-content;
		--text: 2, 6, 23;
	}
	html.dark {
		color-scheme: dark;
		--text: 248, 250, 252;
	}
	body {
		background-image: radial-gradient(#64748b40 9%, #0000 9%);
		background-size: 1.5rem 1.5rem;
	}
</style>
